<!--go cart modal fail-->
<div class="go-cart__modal go-cart__modal--fail js-go-cart-modal-fail">
    <div class="go-cart-modal">
        <div class="go-cart-modal__close js-go-cart-modal-fail-close">
          <div id="cart">
              <div class="baggie hov">Cart</div>
              <div class="js-go-cart-counter cart-total">{{- cart.item_count -}}</div>
          </div>
        </div>
        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-fail-content">
            Something went wrong, please contact us!
        </div>
        <!--end go cart modal content-->
    </div>
</div>

<!--go cart modal-->
<div class="go-cart__modal js-go-cart-modal">
    <div class="go-cart-modal">
        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-close">
          <div id="cart">
              <div class="baggie hov">Cart</div>
              <div class="js-go-cart-counter cart-total">{{- cart.item_count -}}</div>
          </div>
        </div>
        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-content">
          <div class="info-product">
            <div>Designer</div>
            <div>{{ product.metafields.custom.designer }}</div>
          </div>
          <div class="info-product">
            <div>Era</div>
            <div>{{ product.metafields.custom.era }}</div>
          </div>
        </div>
        <div class="go-cart-modal__buttons">
            <a class="go-cart__button js-go-cart-modal-close">
                Continue shopping
            </a>
            <a href="/cart/" class="go-cart__button">
                View cart
            </a>
        </div>
    </div>
</div>
<!--go cart drawer-->
<div class="go-cart__drawer js-go-cart-drawer">

        {% if cart.item_count > 0 %}
        <form id="cart-wrapper" action="/cart" method="post">
             {% for item in cart.items %}
                  <div class="item">
                   <div class="thumb">
                   <img class="lazy" src="{{ item | img_url: 'thumb' }}" data-src="{{ item | img_url: 'master' }}" alt="{{ item.title | escape }}" />
                </div>
                <div class="info_cart">
                              <div class="item-title">
                                 <a class="product-title">{{ item.product.title }}</a><br>
                                 <div> {{ item.price | money }} </div>
                             </div>
                            {% unless item.product.options contains 'Title' %}
                            <!--Variations-->
                                    <div class="item-variations">
                                      {%- for option_title in item.product.options -%}
                                      {{ item.variant.options[forloop.index0] }}{% unless forloop.last  %}<br> {% endunless %}
                                      {%- endfor -%}
                                    </div>

                                      {% endunless %}
                               <a href="/cart/change?line={{ forloop.index }}&quantity=0">x Remove</a>

                         <div class="item-quantity">
                          <span data-field="updates" class="quantity-button minus"><span>–</span></span>
                        <input type="hidden" step="1" max="9" value="{{ item.quantity }}" name="updates[]" class="inactive quantity-field align-center">
                        <span class="quantity-wrap"></span>
                        <span data-field="updates" class="quantity-button plus">
                                              <span class="addmore">+</span>
                                              {% if cart.items.available %}
                                              {% else %}
                                              {% endif %}
                                 </span>
                                 </div>
                   </div>
                       </div>
                    {% endfor %}

            <div class="total">
              <div>SHIPPING</div>
              <div style="text-align:right">Calculated at checkout</div>
              SUBTOTAL
              <div style="text-align:right" class="pri">{{ cart.total_price | money }}</div>
              <input id="update-cart" type="submit" name="update" value="Update cart" style="display: none" />
              <button id="checkout" type="submit" name="checkout">PROCEED TO CHECKOUT</button>
            </div>
        </form>
</div>
<div class="go-cart__overlay js-go-cart-overlay">
</div>
